// Smooth scrolling
html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'AlegreyaSansRegular';
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1180px;
    margin: auto;
}

.feed-icons {
    display: none;
}

.view-empty {
    display: none;
}

figure {
    line-height: 0;
    margin: 0;
}
